@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P";
}

body {
  background-color: #000000;
  display: grid;
  place-items: center;
}

header {
  width: 420px;
  padding: 10px;
}

canvas {
  display: none;
  background-color: #829666;
  border: 10px solid #bcbcbc;
}

canvas:focus {
  outline: none;
}

/* HEADER STYLES */
h1 {
  display: inline-block;
  width: 180px;
  font-size: 21px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

#score {
  display: inline-block;
  width: 200px;
  font-size: 15px;
  color: #ffffff;
  text-align: right;
}

.button {
  cursor: pointer;
  margin: 12px;
  font-size: 24px;
  padding: 6px;
}

.button:hover {
  transform: scale(1.1);
}

.button:hover::before {
  content: ">";
  margin-right: 5px;
}

/* MAIN MENU SCREEN STYLES */
#menu {
  display: block;
  width: 420px;
  height: 420px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
}

#menu h2 {
  animation: pulse 1300ms linear infinite;
  margin: 48px 30px;
  font-size: 48px;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* SETTINGS AND GAME-OVER SCREEN STYLES */
#setting,
#game-over {
  display: none;
  width: 420px;
  height: 420px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

#setting h2,
#game-over h2 {
  margin: 36px 30px;
  font-size: 36px;
}

#setting p,
#game-over p {
  margin: 21px;
  font-size: 15px;
  padding: 5px;
}

#setting input {
  display: none;
}

#setting label {
  cursor: pointer;
  padding: 3px;
}

#setting label:hover {
  color: #a4a4a4;
}

#setting input:checked + label {
  background-color: #fff;
  color: #000;
}

#game-over span {
  padding: 3px;
}
